/*
| -------------------------------------------------------------------------
| ESTILOS GENERALES
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS BOOTSTRAP
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS HEADER
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS BODY
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS FORMULARIOS
| -------------------------------------------------------------------------
*/
.cuadrito{
width: 20px;
height: 20px;
background-color: red;
}


/*
| -------------------------------------------------------------------------
| ESTILOS BODY INDEX
| -------------------------------------------------------------------------
*/
.content{
  min-height: 700px;
  padding-top:1%;
}
.portada-servicios {
  display:block;
  width:100%;
  max-width: 600px;
  background-color: gray;
   padding-top: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


/*
| -------------------------------------------------------------------------
| ESTILOS FOOTER
| -------------------------------------------------------------------------
*/
