/*
| -------------------------------------------------------------------------
| ESTILOS GENERALES
| -------------------------------------------------------------------------
*/
html, body{
  height: 100%;
}
/*
| -------------------------------------------------------------------------
| ESTILOS BOOTSTRAP
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS HEADER
| -------------------------------------------------------------------------
*/
.menu-superior{
  min-height: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #fff;
  font-size: 0.8em;
}
.menu-superior .btn-link{
  color: #fff;
}
.post-menu{
  width: 100%;
  min-height: 100px;
  padding: 5px;
  background-color: #bbb;
}

.caracteristica .car-icono{
  font-size: 4em;
  color: #555;
  width: 30%;
  display: block;
  float: left;
}
.car-contenido{
  width: 70%;
  float: left;
  color: #555;
  padding-top: 10px;
}
.car-titulo{
  font-size: 1.5em;
  font-weight: bold;
}

/*
| -------------------------------------------------------------------------
| ESTILOS BODY
| -------------------------------------------------------------------------
*/
.contenedor-servicios{
  width: 100%;
  background-color: #eee;
  padding: 5px;
  min-height: 300px;
  text-align: center;
}
.contenedor-servicios-titulo{
  width: 100%;
  background-color: #333;
  padding: 5px;
  color: #fff;
}
.servicio-circulo{
  width: 100px;
  height: 100px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding:5%;
  font-size: 3em;
  font-weight: bold;
  float: left;
  margin:2%;
}

.contenido_principal{
  min-height: 700px;
}

.fila{
  padding-top:10px;
  padding-bottom: 10px;
}
.fila-titulo{
  border-bottom: solid 1px #ddd;
}
.fila-gris{
  background-color: #ddd;
}
.fila-dark{
  background-color: #333;
  color: #fff;
}
.imagen-curioso{
  transform: scale(1.5) translateY(50px) translateX(50px);
  position: absolute;
  z-index: 100;
}
.dato-curioso{
  padding: 10px;
  padding-left:50%;
}
.dato-ganador{
  background-color: #ddd;
}
.contenedor-ganador{
  text-align: right;

}
.fecha-ganador{
  font-size: 1.8em;
}
.fecha-ganador span{
  font-size: 2.8em;
}
.titulo-ganador{
  font-size: 3em;
  font-weight: 700;
}
.nombre-ganador{
  font-size: 2em;
  font-weight: 200;
  color: orange;
}
/*
| -------------------------------------------------------------------------
| ESTILOS BODY INDEX
| -------------------------------------------------------------------------
*/

.store-body {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.store-body .product-info {
  width: 60%;
  border-right: 1px solid rgba(0,0,0,.125);
}

.store-body .product-payment-details {
  width: 40%;
  padding: 15px 15px 0 15px;
}

.product-info .product-gallery {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.product-gallery-featured {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0;
  cursor: zoom-in;
}

.product-gallery-thumbnails .thumbnails-list li {
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
}

.thumbnails-list li img {
  display: block;
  width: 100%;
}

.product-gallery-thumbnails .thumbnails-list li:hover::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #007bff;
  position: absolute;
  top: 0;
  left: 0;
}

.product-info .product-seller-recommended {
  padding: 20px 20px 0 20px;
}

.product-comments textarea {
  height: 50px;
}

.last-questions-list li {
  margin-bottom: 20px;
}

.last-questions-list li span {
  padding-left: 10px;
}
/*
| -------------------------------------------------------------------------
| ESTILOS de FORMULARIOS
| -------------------------------------------------------------------------
*/
.custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Elegir"; }
/*
| -------------------------------------------------------------------------
| ESTILOS FOOTER
| -------------------------------------------------------------------------
*/

.pre-footer{
  min-height: 10px;
}
.barra-color{
  width: 20%;
  min-height: 10px;
  background-color: #000;
  float: left;
}

.barra-azul{
  background-color: #73C8C8;
}
.barra-rosa{
  background-color: #AD3692;
}
.barra-amarillo{
  background-color: #EEC830;
}
.barra-verde{
  background-color: #A5C845;
}
.barra-morado{
  background-color: #AD36F7;
}
.footer{
  min-height: 50px;
  background-color: #EEE;
}
.creditos{
  min-height: 50px;
  background-color: #333;
}
