/*
| -------------------------------------------------------------------------
| ESTILOS GENERALES
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS BOOTSTRAP
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS HEADER
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS BODY
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS FORMULARIOS
| -------------------------------------------------------------------------
*/
.cuadrito{
width: 20px;
height: 20px;
background-color: red;
}


/*
| -------------------------------------------------------------------------
| ESTILOS BODY INDEX
| -------------------------------------------------------------------------
*/
.content{
  min-height: 700px;
  padding-top:1%;
}

/*
| -------------------------------------------------------------------------
| ESTILOS FOOTER
| -------------------------------------------------------------------------
*/
