/*
| -------------------------------------------------------------------------
| ESTILOS GENERALES
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS BOOTSTRAP
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS HEADER
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS BODY
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS FORMULARIOS
| -------------------------------------------------------------------------
*/
.cuadrito{
width: 20px;
height: 20px;
background-color: red;
}


/*
| -------------------------------------------------------------------------
| ESTILOS BODY INDEX
| -------------------------------------------------------------------------
*/
.content{
  min-height: 700px;
  padding-top:1%;
}
.portada-servicios {
  display:block;
  width:100%;
  max-width: 600px;
  background-color: gray;
   padding-top: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.protector_formulario{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.8);
  z-index:1000;
  padding-top:10%;
}

/*
| -------------------------------------------------------------------------
| ESTILOS FOOTER
| -------------------------------------------------------------------------
*/
