/*
| -------------------------------------------------------------------------
| ESTILOS GENERALES
| -------------------------------------------------------------------------
*/
html, body{
  height: 100%;
}
/*
| -------------------------------------------------------------------------
| ESTILOS BOOTSTRAP
| -------------------------------------------------------------------------
*/

/*
| -------------------------------------------------------------------------
| ESTILOS HEADER
| -------------------------------------------------------------------------
*/
.menu-superior{
  min-height: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #fff;
  font-size: 0.8em;
}
.menu-superior .btn-link{
  color: #fff;
}
.post-menu{
  width: 100%;
  min-height: 100px;
  padding: 5px;
  background-color: #bbb;
}

.caracteristica .car-icono{
  font-size: 4em;
  color: #555;
  width: 30%;
  display: block;
  float: left;
}
.car-contenido{
  width: 70%;
  float: left;
  color: #555;
  padding-top: 10px;
}
.car-titulo{
  font-size: 1.5em;
  font-weight: bold;
}

/*
| -------------------------------------------------------------------------
| ESTILOS BODY
| -------------------------------------------------------------------------
*/
.contenedor-servicios{
  width: 100%;
  background-color: #eee;
  padding: 5px;
  min-height: 300px;
  text-align: center;
}
.contenedor-servicios-titulo{
  width: 100%;
  background-color: #333;
  padding: 5px;
  color: #fff;
}
.servicio-circulo{
  width: 100px;
  height: 100px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding:5%;
  font-size: 3em;
  font-weight: bold;
  float: left;
  margin:2%;
}

.contenido_principal{
  min-height: 700px;
}

.fila{
  padding-top:10px;
  padding-bottom: 10px;
}
.fila-titulo{
  border-bottom: solid 1px #ddd;
}
.fila-gris{
  background-color: #ddd;
}
.fila-dark{
  background-color: #333;
  color: #fff;
}
.imagen-curioso{
  transform: scale(1.5) translateY(50px) translateX(50px);
  position: absolute;
  z-index: 100;
}
.dato-curioso{
  padding: 10px;
  padding-left:50%;
}
.dato-ganador{
  background-color: #ddd;
}
.contenedor-ganador{
  text-align: right;

}
.fecha-ganador{
  font-size: 1.8em;
}
.fecha-ganador span{
  font-size: 2.8em;
}
.titulo-ganador{
  font-size: 3em;
  font-weight: 700;
}
.nombre-ganador{
  font-size: 2em;
  font-weight: 200;
  color: orange;
}
/*
| -------------------------------------------------------------------------
| ESTILOS BODY INDEX
| -------------------------------------------------------------------------
*/
.cuadricula-productos{
  background-color: #fff;
  display: block;
  width: 100%;
  bottom: 0;
}
.cuadricula-productos,.cuadricula-productos .imagen-producto{position:relative}
.cuadricula-productos .imagen-producto span{
  display:block;
  width:100%;
  max-width: 600px;
  background-color: #fff;
   padding-top: 130%;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}
.cuadricula-productos .product-content{padding:12px;overflow:hidden;position:relative}
.cuadricula-productos .contenedor-etiquetas{
  display: block;
  width: 30%;
  position: absolute;
  right: 0;
  top: 10px;
}
.cuadricula-productos a .etiqueta-1, .cuadricula-productos a .etiqueta-2, .cuadricula-productos a .etiqueta-3{
  display:block;padding:4px 15px 4px 20px;
  text-align: right;
  margin-bottom: 5px;
  font-size: 0.8em;
  color:#fff;
  background-color:#0081c2;
  -webkit-clip-path:polygon(10% 0,100% 0,100% 100%,0 100%);
  clip-path:polygon(10% 0,100% 0,100% 100%,0 100%)
}
.cuadricula-productos .imagen-producto .overlay-producto{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
  transition: all ease 500ms;
}
.cuadricula-productos .imagen-producto:hover .overlay-producto{
  opacity: 0.8;
}
.cuadricula-productos .imagen-producto .boton-ver{
  display: block;
  position: absolute;
  top: 40%;
  left: 25%;
  padding:5px;
  text-align: center;
  font-size: 1.3em;
  width: 50%;
  height: 25%;
  max-height: 50px;
  opacity: 0;
}
.cuadricula-productos .imagen-producto:hover .boton-ver{
  opacity: 1;
}
.cuadricula-productos .imagen-producto .boton-ver .botones-flotantes{
  display: block;
  float: left;
  padding:1%;
  margin:1%;
  text-align: center;
  font-size: 1.3em;
  width: 48%;
  height: 100%;
  max-height: 50px;
  background-color: transparent;
  color:#fff;
  padding-bottom: 5%;
}
.cuadricula-productos .imagen-producto .boton-ver .botones-flotantes span{
  padding: 10%;
  margin: 0;
  background-color: transparent;
}
.product-content .rating{padding:0;margin:0 0 7px;list-style:none}
.cuadricula-productos .rating li{font-size:12px;color:#ffd200;transition:all .3s ease 0s}
.cuadricula-productos .rating li.disable{color:rgba(0,0,0,.2)}
.cuadricula-productos .title{font-size:16px;font-weight:400;text-transform:capitalize;margin:0 0 3px;transition:all .3s ease 0s}
.cuadricula-productos .title a{color:rgba(0,0,0,.5)}
.cuadricula-productos .title a:hover{color:#c0392b}
.cuadricula-productos .price{color:#000;font-size:17px;font-weight: bold;margin:0;display:block;transition:all .5s ease 0s}
.cuadricula-productos .price-list{color:#000;font-size:15px; text-decoration: line-through; margin:0;display:block;transition:all .5s ease 0s}
.cuadricula-productos .add-to-cart{display:block;color:#c0392b;font-weight:600;font-size:14px;opacity:0;position:absolute;left:10px;bottom:-20px;transition:all .5s ease 0s}
.cuadricula-productos:hover .add-to-cart{opacity:1;bottom:0}
@media only screen and (max-width:990px){ .cuadricula-productos{margin-bottom:30px} }
/*
| -------------------------------------------------------------------------
| ESTILOS SERVICIOS
| -------------------------------------------------------------------------
*/
.enlace-principal-servicio{
  display: block;
  padding: 20px;
}
.portada-servicios {
  display:block;
  width:100%;
  max-width: 600px;
  background-color: red;
   padding-top: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


.store-body {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.store-body .product-info {
  width: 60%;
  border-right: 1px solid rgba(0,0,0,.125);
}

.store-body .product-payment-details {
  width: 40%;
  padding: 15px 15px 0 15px;
}

.product-info .product-gallery {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.product-gallery-featured {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  cursor: zoom-in;
}

.product-gallery-thumbnails .thumbnails-list li {
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
}

.thumbnails-list li img {
  display: block;
  width: 100%;
}

.product-gallery-thumbnails .thumbnails-list li:hover::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #007bff;
  position: absolute;
  top: 0;
  left: 0;
}
.product-price-descuento{
  font-size: 1.5em;
  font-weight: lighter;
  color: #444;
  text-decoration: line-through;
}

/*
| -------------------------------------------------------------------------
| ESTILOS de FORMULARIOS
| -------------------------------------------------------------------------
*/
.custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Elegir"; }
/*
| -------------------------------------------------------------------------
| ESTILOS FOOTER
| -------------------------------------------------------------------------
*/

.pre-footer{
  min-height: 10px;
}
.barra-color{
  width: 20%;
  min-height: 10px;
  background-color: #000;
  float: left;
}

.barra-azul{
  background-color: #73C8C8;
}
.barra-rosa{
  background-color: #AD3692;
}
.barra-amarillo{
  background-color: #EEC830;
}
.barra-verde{
  background-color: #A5C845;
}
.barra-morado{
  background-color: #AD36F7;
}
.footer{
  min-height: 50px;
  background-color: #EEE;
}
.creditos{
  min-height: 50px;
  background-color: #333;
}
