/*
| -------------------------------------------------------------------------
| ESTILOS GENERALES
| -------------------------------------------------------------------------
*/
html, body{
  height: 100%;
  overflow-x: hidden;
}
/*
| -------------------------------------------------------------------------
| ESTILOS BOOTSTRAP
| -------------------------------------------------------------------------
*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #d9d9d9;
}
/*
| -------------------------------------------------------------------------
| ESTILOS HEADER
| -------------------------------------------------------------------------
*/
.menu-superior{
  min-height: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #fff;
  font-size: 0.5em;
}
.menu-superior .btn-link{
  color: #fff;
  font-size: 13px;
}
.menu-principal{
  background: #ececef;
  box-shadow: none;
}
.menu-principal .navbar{
  padding: 0.2rem 1rem;
  z-index: 10;
}
.menu-principal .navbar .navbar-brand{
  padding: 0;
  height: 100%;
  max-height: 80px;
}
.menu-principal .navbar .navbar-brand img{
  height: 100%;
  max-height: 80px;
}
.menu-principal .input-group{
    box-shadow: 1px 1px 8px #c1c2c7;
    border-radius: 13px;
}
.menu-principal input.form-control {
    border-radius: 13px;
    border: none;
}
.menu-principal select.form-control {
    border-top: none;
    border-bottom: none;
    color: #778f9c
}
.menu-principal button.btn.btn-outline-primary {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background: white;
    border: none;
    border-left: solid 1px lightgray;
}
.menu-inferior{
  position: absolute;
  width: 100%;
  top: 130px;
  z-index: 999;
}
.post-menu{
  width: 100%;
    min-height: 100px;
    padding: 5px;
    background-color: hsl(0, 0%, 98%);
    margin: 15px auto;
    box-shadow: 0px 3px 16px #00000045;
    border-radius: 15px;
}

/* ESTILOS CARRITO */

.car-icono{
  font-size: 2.5em;
  color: #ddd;
}
.car-contenido{
  width: 50%;
  float: left;
  color: #ddd;
  padding-top: 10px;
}
.car-titulo{
  font-size: 2em;
  font-weight: lighter;
  padding-left: 0.5em;
}
.car-subtitulo{
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
}
.btn-carrito {
  padding: 7px 9px;
}
.custom-control.custom-radio {
    border-top: solid 1px lightgray;
    /* border-bottom: solid 1px lightgray; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.custom-control.custom-radio:hover {
    background: #e5ecef;
}
.container-stepwizard {
    padding: 20px;
    background: #73c8c8;
    color: #094c4c;
}
.stepwizard .btn-default.btn-circle {
    background: white;
}
.stepwizard-row:before {
    background-color: white!important;
}
.btn-default.btn-circle, .btn-primary.btn-circle {
    font-size: 16px;
    line-height: 1;
  }

/*
| -------------------------------------------------------------------------
| ESTILOS BODY
| -------------------------------------------------------------------------
*/
.contenedor-servicios{
  width: 100%;
  background-color: #eee;
  padding: 5px;
  min-height: 300px;
  text-align: center;
}
.contenedor-servicios-titulo{
  width: 100%;
  background-color: #333;
  padding: 5px;
  color: #fff;
}
.servicio-circulo{
  width: 100px;
  height: 100px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding:5%;
  font-size: 3em;
  font-weight: bold;
  float: left;
  margin:2%;
}
/*--- Slider ---*/
.contenedor-texto-slide{
  position: absolute;
  top: 1%;
  left: 20%;
  right: 20%;
  bottom: 1%;
  box-sizing: border-box;
  border: solid #ffffff 3px;
  margin: 2% 2%;
  padding: 2%;
}
.texto-slide{
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 1%;
  right: 1%;
  padding: 3%;
  text-align: center;
}
.texto-slide h1{
  font-size: 2.2em;
  margin-bottom:0.2em;
}
.texto-slide h2{
  font-size: 1.8em;
}
.texto-slide h3{
  font-size: 1.5em;
}
.contenido_principal{
  min-height: 700px;
}

.fila{
  padding-top:10px;
  padding-bottom: 10px;
}
.fila-titulo{
  border-bottom: solid 1px #ddd;
}
.fila-gris{
  background-color: #e7ecef;
}
.fila-dark{
  background-color: #333;
  color: #fff;
}
.filtro-cont{
  background-color: transparent;
  padding: 0;
}
.filtro-sel {
    background: lightgray;
    border-radius: 0;
    border-bottom: solid 1px #b5b5b5;
}
.imagen-curioso{
  transform: scale(1.5) translateY(50px) translateX(50px);
  position: absolute;
  z-index: 100;
}
.dato-curioso{
  padding: 10px;
  padding-left:50%;
}
.dato-ganador{
  background-color: #ddd;
}
.contenedor-ganador{
  text-align: right;

}
.fecha-ganador{
  font-size: 1.8em;
}
.fecha-ganador span{
  font-size: 2.8em;
}
.titulo-ganador{
  font-size: 3em;
  font-weight: 700;
}
.nombre-ganador{
  font-size: 2em;
  font-weight: 200;
  color: orange;
}
.form-group input {
  margin: 0 .25rem;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}
.form-group input:optional {
  border-left-color: #999;
}
.form-group input:required {
  border-left-color:#FFCC00;
}
.form-group input:valid {
  border-left-color: #33CC00:
}
/*
| -------------------------------------------------------------------------
| ESTILOS BODY INDEX
| -------------------------------------------------------------------------
*/
.imagen-producto {
  border: 1px solid #ced4da;
  border-bottom: none;
}
.cuadricula-productos{
  background-color: #fff;
  display: block;
  width: 100%;
  bottom: 0;
}
.cuadricula-productos,.cuadricula-productos .imagen-producto{position:relative}
.cuadricula-productos .imagen-producto span{
  display:block;
  width:100%;
  padding-top: 130%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cuadricula-productos .product-content{
  padding:12px;
  overflow:hidden;
  position:relative;
  border: 1px solid #ced4da;
  border-top: none;
}
.cuadricula-productos .contenedor-etiquetas{
  display: block;
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: 9;
}
.cuadricula-productos a .etiqueta-1, .cuadricula-productos a .etiqueta-2, .cuadricula-productos a .etiqueta-3{
  display: block;
  width: 60px;
  text-align: right;
  padding: 2px 15px 2px 20px;
  margin-bottom: 8px;
  margin-left: 75%;
  font-size: 0.8em;
  color: #fff;
  float: right;
  position: relative;
  right: -10px;
  border-radius: 3px 0 0 3px;
}
.cuadricula-productos a .etiqueta-1{
  background-color: #28a745;
  -webkit-box-shadow: 0px 0px 0px 2px #28a745;
  -moz-box-shadow: 0px 0px 0px 2px #28a745;
  box-shadow: 0px 0px 0px 2px #28a745;
  border: 1px dashed rgb(57, 126, 62);
  border-right:none;
}
.cuadricula-productos a .etiqueta-1:before{
  border-bottom: solid 8px transparent;
  border-left: solid 10px #23883a;
}
.cuadricula-productos a .etiqueta-3{
  background-color: #dc3545;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(220,53,69,1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(220,53,69,1);
  box-shadow: 0px 0px 0px 2px rgba(220,53,69,1);
  border: 1px dashed darkred;
  border-right:none;
}
.cuadricula-productos a .etiqueta-3:before{
  border-bottom: solid 8px transparent;
  border-left: solid 10px #b62b38;
}
.imagen-producto span.etiqueta-artesanal {
    padding-top: 0;
    margin: 0;
    position: absolute;
    left: -13px;
    top: -21px;
    background: transparent;
    width: 65px;
    height: 65px;
}
.imagen-producto span.etiqueta-artesanal img{
    width: 100%
}
.cuadricula-productos .imagen-producto .overlay-producto{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
  transition: all ease 500ms;
}
.cuadricula-productos .imagen-producto .overlay-producto .overlay-producto-in{
  width: 80%;
  height: 80%;
  border: solid 1px white;
  margin: 12.5% 9.8%;
}
.cuadricula-productos .imagen-producto:hover .overlay-producto{
  opacity: 0.8;
}
.cuadricula-productos .imagen-producto .boton-ver{
  display: block;
  position: absolute;
  top: 40%;
  left: 25%;
  padding:5px;
  text-align: center;
  font-size: 1.3em;
  width: 50%;
  height: 25%;
  max-height: 50px;
  opacity: 0;
}
.cuadricula-productos .imagen-producto:hover .boton-ver{
  opacity: 1;
}
.cuadricula-productos .imagen-producto .boton-ver .botones-flotantes{
  display: block;
  float: left;
  padding:1%;
  margin:1%;
  text-align: center;
  font-size: 1.3em;
  width: 48%;
  height: 100%;
  max-height: 50px;
  background-color: transparent;
  color:#fff;
  padding-bottom: 5%;
}
.cuadricula-productos .imagen-producto .boton-ver .botones-flotantes span{
  padding: 10%;
  margin: 0;
  background-color: transparent;
}
.product-content .rating{padding:0;margin:0 0 7px;list-style:none}
.cuadricula-productos .rating li{font-size:12px;color:#ffd200;transition:all .3s ease 0s}
.cuadricula-productos .rating li.disable{color:rgba(0,0,0,.2)}
.cuadricula-productos .title{font-size:16px;font-weight:400;margin:0 0 3px;transition:all .3s ease 0s}
.cuadricula-productos .title a{color:rgba(0,0,0,.5)}
.cuadricula-productos .title a:hover{color:#c0392b}
.cuadricula-productos .price{color:#6c757d;font-size:20px;font-weight: bold;margin:0;display:block;transition:all .5s ease 0s}
.cuadricula-productos .price-list{color:#6c757d;font-size:14px; text-decoration: line-through; margin:0;display:block;transition:all .5s ease 0s}
.cuadricula-productos .add-to-cart{display:block;color:#c0392b;font-weight:600;font-size:14px;opacity:0;position:absolute;left:10px;bottom:-20px;transition:all .5s ease 0s}
.cuadricula-productos:hover .add-to-cart{opacity:1;bottom:0}
@media only screen and (max-width:990px){ .cuadricula-productos{margin-bottom:30px} }

.flexslider{
  background-color: transparent;
  border:none;
}
.flex-direction-nav a:before {
    font-size: 30px;
    line-height: 38px;
}

/*
| -------------------------------------------------------------------------
| ESTILOS SERVICIOS
| -------------------------------------------------------------------------
*/
.enlace-principal-servicio{
  display: block;
  padding: 20px;
}
.portada-servicios {
  display:block;
  width:100%;
  max-width: 600px;
  background-color: gray;
   padding-top: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.cont-foto-servicio {
    width: 180px;
    height: 180px;
    position: absolute;
    top: -50px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 0 5px hsl(0, 0%, 100%);
}
.store-body {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.store-body .product-info {
  width: 60%;
  border-right: 1px solid rgba(0,0,0,.125);
}

.store-body .product-payment-details {
  width: 40%;
  padding: 15px 15px 0 15px;
}

.product-info .product-gallery {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.product-gallery-featured {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  cursor: zoom-in;
}

.product-gallery-thumbnails .thumbnails-list li {
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
}

.thumbnails-list li img {
  display: block;
  width: 100%;
}

.product-gallery-thumbnails .thumbnails-list li:hover::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #007bff;
  position: absolute;
  top: 0;
  left: 0;
}
.product-price-descuento{
  font-size: 1.5em;
  font-weight: lighter;
  color: #444;
  text-decoration: line-through;
}
.breadcrumb {
  padding: 0;
  background-color: transparent;
}

/*
| -------------------------------------------------------------------------
| ESTILOS de FILTROS
| -------------------------------------------------------------------------
*/


/*
| -------------------------------------------------------------------------
| ESTILOS de FORMULARIOS
| -------------------------------------------------------------------------
*/
.custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Elegir"; }
  /*
  | -------------------------------------------------------------------------
  | ESTILOS PAGO
  | -------------------------------------------------------------------------
  */

  .stepwizard-step p {
      margin-top: 10px;
  }
  .stepwizard-row {
      display: table-row;
  }
  .stepwizard {
      display: table;
      width: 100%;
      position: relative;
  }
  .stepwizard-step button[disabled] {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important;
  }
  .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-order: 0;
  }
  .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative;
      width:25%;
  }
  .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
  }

  .estrellas a{
    color: #ffc107;
  }
  .tienda-proceso-pago {
    background: white;
    border-radius: 3px;
  }
  .tienda-proceso-pago h5 {
    margin-bottom: 50px;
  }
  .tienda-proceso-pago .table thead th {
    background: #e7ecef;
    color: #4e6a77;
    border-bottom: none;
  }
  .cont-resumen {
    position: sticky;
    top: 30px;
    color: white;
  }
  .cont-resumen h4 {
    margin-bottom: 50px;
  }
  .cont-resumen p {
    margin-bottom: 0;
  }
  .btn-paypal, .btn-transfer {
    border-radius: 26px;
    margin-top: 10px;
    white-space: normal;
  }
  .cont-envio-pago .form-check {
    position: relative;
    display: block;
    padding: 9px 9px 2px 40px;
    border-top: solid 1px lightgray;
  }

/*
| -------------------------------------------------------------------------
| ESTILOS FOOTER
| -------------------------------------------------------------------------
*/

.pre-footer{
  min-height: 10px;
}
.linea-colores-delgada{
  min-height: 5px;
}
.barra-color{
  width: 20%;
  min-height: 10px;
  background-color: #000;
  float: left;
}
.linea-colores-delgada .barra-color{
  width: 20%;
  min-height: 5px;
  float: left;
}

.barra-azul{
  background-color: #73C8C8;
}
.barra-rosa{
  background-color: #AD3692;
}
.barra-amarillo{
  background-color: #EEC830;
}
.barra-verde{
  background-color: #A5C845;
}
.barra-morado{
  background-color: #AD36F7;
}
.footer{
  min-height: 50px;
  background-color: #EEE;
}
.creditos{
  min-height: 50px;
  background-color: #333;
}

/*
| -------------------------------------------------------------------------
| ESTILOS PERFIL SERVICIOS
| -------------------------------------------------------------------------
*/
.serv-profile .jumbotron{
  min-height: 250px;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/15964/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.card-desc-servicio {
  border:none;
}
.card-desc-servicio .card-header {
  background: transparent;
}
.btn-contacto {
  border-radius: 0;
}

/*
| -------------------------------------------------------------------------
| ESTILOS VISTA PRODUCTOS
| -------------------------------------------------------------------------
*/
.overlay-borde {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  z-index: 997;
  box-shadow: inset 0 0 0px 1px #e1e0e0, inset 0 0 0px 13px white;
  pointer-events: none;
}
.slider-pro img.sp-image {
  width: 80% !im;
}
.sp-thumbnails-container {
  z-index: 998;
}
img.sp-thumbnail-image {
    width: 100%;
}
.sp-thumbnail {
    width: 100%;
}
#accordionPreguntas button {
  white-space: normal;
}
#tabProductos.nav-tabs {
  border-bottom: solid 1px #c6cad0;
}
#tabProductos .nav-item .nav-link.active {
    background: #c6cad0;
    border-radius: 0;
    border: none;
}
#contProductos .table-striped {
  background-color: #ffffff4a;
}
#contProductos .table thead th {
    border-bottom-color: #a0acb7;
}

/*
| -------------------------------------------------------------------------
| ESTILOS VISTA TODAS LAS CATEGORIAS
| -------------------------------------------------------------------------
*/
#tituloCategoria {
  border-bottom: solid 1px;
}
#menuTodasCategorias{
  border-radius: 0;
}
#menuTodasCategorias .card-header{
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #78909C;
}
#categoria .card-header {
}
#categoria .card {
  border: none;
  border-radius: 0;
}

/*
| -------------------------------------------------------------------------
| ESTILOS MENSAJES Y NOTIFICACIONES
| -------------------------------------------------------------------------
*/
#shelf {
    background: #e6e4e1;
    border: none;
    border-radius: 0;
    height: 100%;
}
#shelf .list-group-item {
  background: transparent;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #d1cfcb;
}
#shelf .list-group-item:last-child {
  border-bottom: none;
}
#shelf a {
    color: #9c9c9a;
}
.speech-bubble {
	position: relative;
  border: solid 3px #e6e4e1;
  border-right:solid 9px #6701ff;
  border-radius: 9px;
  background: #white;
}
.mi-mensaje {

  border-right:solid 1px #d1cfcb;
  border-left: solid 9px #40d7c0;
}
.mensaje-servicio, .pregunta-producto {
    padding: 9px;
    position: relative;
}
.mensaje-servicio .fa, .pregunta-producto .fa {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 5px;
    background: white;
    border: solid 2px #e6e4e1;
    border-radius: 50%;
}
.mensaje-servicio .fa-envelope, .pregunta-producto .fa-envelope {
  color:#ff5947;
}
.cont-conversaciones .media {
    border: solid 3px #e6e4e1;
    border-radius: 10px;
    background: #f9f9f9;
    -webkit-transition: background .5s, border-color .5s; /* Safari */
    transition: background .5s, border-color .5s;
}
.cont-conversaciones .media.mensaje-servicio:hover {
  background: white;
  border-color: #ff9933;
  -webkit-transition: background .5s, border-color .5s; /* Safari */
  transition: background .5s, border-color .5s;
}
.cont-conversaciones .media.pregunta-producto:hover {
  background: white;
  border-color: #cc3298;
  -webkit-transition: background .5s, border-color .5s; /* Safari */
  transition: background .5s, border-color .5s;
}
#shelf .list-group-item.msjs-inbox.activo {
    border-top: solid 2px #01cccc;
    background: #f3f2f0;
}
#shelf .list-group-item.msjs-serv.activo {
    border-top: solid 2px #ff9933;
    background: #f3f2f0;
}
#shelf .list-group-item.msjs-preg.activo {
    border-top: solid 2px #cc3298;
    background: #f3f2f0;
}
#shelf .list-group-item.msjs-sent.activo {
    border-top: solid 2px #3c0;
    background: #f3f2f0;
}
.conversacion {
    background: #f9f9f9;
    border: none;
    border-radius: 0;
}
.cont-notif {
    min-width: 350px;
    background: #e3e7e8;
}
.cont-notif h3 {
  margin-left: 10px;
}
.notif {
  padding: 3px;
    margin: 1%;
    width: 98%;
    border-bottom: solid 1px lightgrey;
    background: #ecf0f1;
    border-radius: 3px;
    position: relative;
}
.notif i {
    text-align: center;
    width: 56px;
    height: 51px;
    font-size: 1.2em;
    padding-top: 17px;
    border-right: solid 1px rgba(8, 45, 68, 0.12);
    margin-right: 10px;
}
.no-leida {
  background: #fff;
}
#venta-notif i {
  border-left: 3px solid #00c3a5;
}
#general-notif i {
  border-left: 3px solid #CC33FF;
}
#compra-notif i {
  border-left: 3px solid #33CCFF;
}
#mensaje-notif i {
  border-left: 3px solid #FF3399;
}
.no-leida::before {
    content: '';
    background: #F44336;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
}


/*
| -------------------------------------------------------------------------
| ESTILOS PERFIL USUARIOS
| -------------------------------------------------------------------------
*/
.cont-perfil {
  background: #f1f1f1;
  padding: 5px;
  border-bottom: solid 1px lightgray;
}
.cont-perfil h3 {
  display: inline;
}
.foto-perfil-usuario {
  height: 70px;
  width: 70px;*-
  position: relative;
}
#menu-usuario i{
  font-size: 24px;
}
#dash-1 h6{
  border-right: solid 1px #c7cdd0;
  display: inline;
  padding-right: 7px;
  margin-right: 7px;
}
#dash-1 .col-6 .card{
  border: none;
  border-radius: 0;
  background: #f1f1f1;
}
#dash-1 .col-6 .card strong{
  padding: 2px 10px 4px;
  border: solid 2px;
  border-radius: 15px;
}
#dash-1 .col-6 .card i{
  font-size: 24px;
  margin-right: 5px
}
#dash-1 .col-6 .card:first-child{
  border-right: solid 1px lightgray;
}
#dash-1 .col-6 .card:hover{
  background: #f1f6f7;
}
#dash-1 .col-6 a:hover, #dash-2 .col-6 a:hover{
  text-decoration: none;
}
.card-p-usuario:hover {
  background: #f1f1f1;
  text-decoration: none;
}

/*
| -------------------------------------------------------------------------
| ESTILOS TABLA DE PLANES
| -------------------------------------------------------------------------
*/
.tabla-planes img {
  width: 120px;
  margin: 30px 0 10px 0;
}
.tabla-planes H5 {
  font-weight: 600;
  margin: 0;
}
.tabla-planes .card-header{
  min-height: 205px;
}
.tabla-planes .card {
  border-left: none;
}
.tabla-planes .card .card-body p.text-center {
    background: #e4e7e8;
    padding: 5px 0;
    margin: 0;
}
.tabla-planes table.table.m-0 {
    line-height: 18px;
}
#servicios_plan_1 .card, #productos_plan_1 .card {
  border-left: solid 1px lightgray;
}
#servicios_plan_1, #productos_plan_1 {
  border-top: solid 9px #97038e;
}
#servicios_plan_2, #productos_plan_3 {
  border-top: solid 9px #f27100;
}
#servicios_plan_3, #productos_plan_5 {
  border-top: solid 9px #1cc6a2;
}
#productos_plan_2 {
border-top: solid 9px #980500;
}
#productos_plan_4 {
  border-top: solid 9px #0e2bff;
}
